###############################
# Core EditorConfig Options   #
###############################

root = false

[*.{cs,vb}]

#### .NET Coding Conventions ####

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none
