<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths mergeDefaults="False">
      <Include>
        <ModulePath>.*Microsoft\.Testing\.Extensions\.CrashDump\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.Testing\.Extensions\.HangDump\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.Testing\.Extensions\.Telemetry\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.Testing\.Extensions\.TrxReport\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.Testing\.Extensions\.TrxReport\.Abstractions\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.Testing\.Extensions\.VSTestBridge\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.Testing\.Platform\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.Testing\.Platform\.MSBuild\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.VisualStudio\.TestPlatform\.MSTest\.TestAdapter\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.VisualStudio\.TestPlatform\.MSTestAdapter\.PlatformServices\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.VisualStudio\.TestPlatform\.TestFramework\.dll$</ModulePath>
        <ModulePath>.*Microsoft\.VisualStudio\.TestPlatform\.TestFramework\.Extensions\.dll$</ModulePath>
        <ModulePath>.*MSTest\.Analyzers\.dll$</ModulePath>
        <ModulePath>.*MSTest\.Analyzers\.CodeFixes\.dll$</ModulePath>
      </Include>
      <Exclude>
        <ModulePath>.*static_covrun32\.dll$</ModulePath>
        <ModulePath>.*static_covrun64\.dll$</ModulePath>
        <ModulePath>.*TestFiles.*</ModulePath>
        <ModulePath>.*\\runtimes\\win\\native\\.*</ModulePath>
      </Exclude>
    </ModulePaths>
     <UseVerifiableInstrumentation>False</UseVerifiableInstrumentation>
    <EnableStaticNativeInstrumentation>False</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
    <EnableStaticManagedInstrumentation>False</EnableStaticManagedInstrumentation>
    <EnableDynamicManagedInstrumentation>True</EnableDynamicManagedInstrumentation>
  </CodeCoverage>
</Configuration>
