# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

* @Evangelink

src/Package/MSTest.Sdk @MarcoRossignoli
src/Platform @MarcoRossignoli @Evangelink