# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

src/Package/MSTest.Sdk @Youssef1313 @nohwnd
src/Platform @Youssef1313 @nohwnd
