# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

src/Package/MSTest.Sdk @MarcoRossignoli @Evangelink
src/Platform @MarcoRossignoli @Youssef1313 @Evangelink
