# Branches that trigger a build on commit
trigger:
  branches:
    include:
    - main
    - rel/*
    exclude:
    - rel/2.*
    - rel/3.0.*

parameters:
- name: isRTM
  displayName: "Produce RTM version?"
  type: boolean
  default: False
- name: products
  displayName: "Select the products to generate"
  type: string
  default: all
  values:
  - all
  - mstest
  - testing-platform
# This option should be used with caution. This is useful for unblocking circular deps issue with testanywhere
- name: SkipTests
  displayName: "Skip tests"
  type: boolean
  default: False

variables:
  - template: /eng/common/templates-official/variables/pool-providers.yml@self
  # Cannot use key:value syntax in root defined variables
  - name: _TeamName
    value: MSTest
  - name: _RunAsInternal
    value: True
  - name: _RunAsPublic
    value: False
  - name: _ReleaseVersionKind
    value: ''
  - name: _BuildConfig
    value: Release
  - name: _Products
    value: ${{parameters.products}}
  # _SignType and _Sign are required for signing even if not used directly here
  - name: _SignType
    value: real
  - name: _Sign
    value: True

  - ${{ if eq(parameters.isRTM, True) }}:
    - name: _ReleaseVersionKind
      value: release

  - group: DotNet-Symbol-Server-Pats

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    sdl:
      policheck:
        enabled: true
      tsa:
        enabled: true
    featureFlags:
      autoBaseline: true
    pool:
      name: $(DncEngInternalBuildPool)
      image: windows.vs2026preview.scout.amd64
      os: windows
    settings:
      networkIsolationPolicy: Permissive,CFSClean
    customBuildTags:
    - ES365AIMigrationTooling
    stages:

    - stage: build
      displayName: Build
      jobs:

      - template: /eng/common/templates-official/jobs/jobs.yml@self
        parameters:
          enableMicrobuild: true
          enablePublishBuildArtifacts: true
          enablePublishTestResults: true
          testResultsFormat: 'vstest'
          enablePublishBuildAssets: true
          enablePublishUsingPipelines: true
          enableTelemetry: true
          jobs:
          - job: Windows
            # Allow build, test, publishing, etc to take 90 minutes, plus allow for 2 hours of manual validation.
            # We will only publish to test-tools feed if manual validation passes and is manually approved.
            timeoutInMinutes: 210
            pool:
              name: $(DncEngInternalBuildPool)
              image: windows.vs2026preview.scout.amd64
              os: windows
            steps:
            - task: PowerShell@2
              displayName: 'Install Windows SDK'
              inputs:
                targetType: filePath
                filePath: './eng/install-windows-sdk.ps1'
                failOnStderr: true
                showWarnings: true

            - task: PowerShell@2
              displayName: 'Install procdump'
              inputs:
                targetType: filePath
                filePath: ./eng/install-procdump.ps1
                failOnStderr: true
                showWarnings: true

            - task: PowerShell@2
              displayName: 'Install Access Database Engine'
              inputs:
                targetType: filePath
                filePath: ./eng/install-access-database-engine.ps1
                failOnStderr: true
                showWarnings: true

            - script: eng\common\CIBuild.cmd
                -configuration $(_BuildConfig)
                -prepareMachine
                /p:TeamName=$(_TeamName)
                /p:DotNetFinalVersionKind=$(_ReleaseVersionKind)
                /p:DotNetPublishUsingPipelines=true
                /p:DotNetSymbolServerTokenMsdl=$(microsoft-symbol-server-pat)
                /p:DotNetSymbolServerTokenSymWeb=$(symweb-symbol-server-pat)
                /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
                /p:ProductsToBuild=$(_Products)
                /p:Test=false
              name: Build
              displayName: Build
              env:
                # https://github.com/microsoft/testfx/issues/6767
                DOTNET_HOST_PATH: '$(Build.SourcesDirectory)/.dotnet/dotnet.exe'

            - ${{ if eq(parameters.SkipTests, False) }}:
              # -ci is allowing to import some environment variables and some required configurations
              - script: Test.cmd
                  -configuration $(_BuildConfig)
                  -ci
                  -nobl
                  /bl:$(BUILD.SOURCESDIRECTORY)\artifacts\TestResults\$(_BuildConfig)\TestStep.binlog
                name: Test
                displayName: Test
                env:
                  TESTINGPLATFORM_DEFAULT_HANG_TIMEOUT: 5m
                  DOTNET_ROOT: $(Build.SourcesDirectory)/.dotnet

              - task: CopyFiles@2
                displayName: 'Copy binlogs'
                inputs:
                  SourceFolder: '$(Build.SourcesDirectory)/artifacts/tmp/$(_BuildConfig)/testsuite'
                  Contents: |
                    **/*.binlog
                  TargetFolder: '$(Build.ArtifactStagingDirectory)/binlogs'
                condition: always()

              - task: 1ES.PublishBuildArtifacts@1
                displayName: 'Publish integration tests binlogs'
                inputs:
                  PathtoPublish: '$(Build.ArtifactStagingDirectory)/binlogs'
                  ArtifactName: Integration_Tests_Windows_Binlogs_$(_BuildConfig)
                condition: always()

              # Remove temporary artifacts to avoid finding binskim issues for exes we don't own.
              - pwsh: |
                  Remove-Item -Path $(Build.SourcesDirectory)/artifacts/tmp -Recurse -Force
                displayName: Remove artifacts/tmp

              - task: 1ES.PublishBuildArtifacts@1
                displayName: 'Publish Test Results folders'
                inputs:
                  PathtoPublish: '$(Build.SourcesDirectory)/artifacts/TestResults/$(_BuildConfig)'
                  ArtifactName: TestResults_Windows_Attempt$(System.JobAttempt)
                condition: always()

            # Manual validation is only needed for RTM.
            # This allows us to keep re-building the same RTM version until it passes manual validation, then we publish it to test-tools, where we have only one chance at publishing the final (RTM) package.
            - ${{ if ne(parameters.isRTM, False) }}:
              - task: ManualValidation@0
                displayName: 'Wait for manual validation before publishing to test-tools feed'
                timeoutInMinutes: 120
                inputs:
                    notifyUsers: ''
                    instructions: 'Please validate the build configuration and resume'
                    onTimeout: 'reject'

            - task: NuGetAuthenticate@1
              displayName: 'NuGet Authenticate to test-tools feed'

            - task: 1ES.PublishNuget@1
              displayName: 'Publish NuGet packages to test-tools feed'
              inputs:
                # Do not push symbol packages nor Microsoft.Testing.Platform package
                packageParentPath: '$(Build.SourcesDirectory)/artifacts/packages/$(_BuildConfig)'
                packagesToPush: '$(Build.SourcesDirectory)/artifacts/packages/$(_BuildConfig)/**/*.nupkg;!$(Build.SourcesDirectory)/artifacts/packages/$(_BuildConfig)/**/*.symbols.nupkg;!$(Build.SourcesDirectory)/artifacts/packages/$(_BuildConfig)/NonShipping/Microsoft.Testing.Platform.*.nupkg'
                publishVstsFeed: 'public/test-tools'

          - job: Linux
            timeoutInMinutes: 90
            pool:
              name: $(DncEngInternalBuildPool)
              image: 1es-ubuntu-2204
              os: linux
            steps:
            - script: eng/common/build.sh
                -configuration $(_BuildConfig)
                -prepareMachine
                --restore
                --build
                --pack
                /p:Test=false
                /p:NonWindowsBuild=true
              displayName: Build

            - ${{ if eq(parameters.SkipTests, False) }}:
              # -ci is allowing to import some environment variables and some required configurations
              - script: |
                  chmod +x ./test.sh
                  ./test.sh --configuration $(_BuildConfig) --ci --test --integrationTest --nobl /bl:$(BUILD.SOURCESDIRECTORY)/artifacts/TestResults/$(_BuildConfig)/TestStep.binlog
                name: Test
                displayName: Tests
                env:
                  TESTINGPLATFORM_DEFAULT_HANG_TIMEOUT: 5m
                  DOTNET_ROOT: $(Build.SourcesDirectory)/.dotnet

              - task: 1ES.PublishBuildArtifacts@1
                displayName: 'Publish Test Results folders'
                inputs:
                  PathtoPublish: '$(Build.SourcesDirectory)/artifacts/TestResults/$(_BuildConfig)'
                  ArtifactName: TestResults_Linux_Attempt$(System.JobAttempt)
                condition: always()

      - ${{ if eq(variables['Build.SourceBranchName'], 'main') }}:
        - template: /eng/common/templates-official/job/onelocbuild.yml@self
          parameters:
            GitHubOrg: microsoft
            MirrorRepo: testfx
            LclSource: lclFilesfromPackage
            LclPackageId: 'LCL-JUNO-PROD-TESTFX'

    - template: eng\common\templates-official\post-build\post-build.yml@self
