
# # C# files
# [*.cs]

# dotnet_diagnostic.RS0016.severity = none
# dotnet_diagnostic.RS0037.severity = none
# dotnet_diagnostic.RS0041.severity = none
# dotnet_diagnostic.CA1822.severity = none
# dotnet_diagnostic.CA1822.severity = none
# dotnet.diagnostic.CA1707.severity = none
