<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="11.0.0" targetFramework="net452" />
  <package id="Moq" version="4.5.21" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="System.ComponentModel.Primitives" version="4.1.0" targetFramework="net452" />
</packages>