###############################
# Core EditorConfig Options   #
###############################

root = false

[*.{cs,vb}]

#### .NET Coding Conventions ####

dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none # Disable StyleCop.CSharp.DocumentationRules

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

dotnet_diagnostic.MSTEST0001.severity = none