<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild.Core" version="0.2.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Internal.CreateUnitTest" version="15.0.0" targetFramework="net46" />
  <package id="NuGet.VisualStudio" version="3.5.0" targetFramework="net46" />
</packages>