root = false

[*.cs]

dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0045.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0073.severity = none
dotnet_diagnostic.IDE0161.severity = none
dotnet_diagnostic.IDE1006.severity = none

dotnet_diagnostic.SA1025.severity = none
dotnet_diagnostic.SA1028.severity = none
dotnet_diagnostic.SA1108.severity = none
dotnet_diagnostic.SA1116.severity = none
dotnet_diagnostic.SA1127.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1214.severity = none
dotnet_diagnostic.SA1311.severity = none
dotnet_diagnostic.SA1314.severity = none
dotnet_diagnostic.SA1405.severity = none
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1502.severity = none
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.SA1512.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1604.severity = none
dotnet_diagnostic.SA1618.severity = none
dotnet_diagnostic.SA1629.severity = none
dotnet_diagnostic.SA1636.severity = none

dotnet_diagnostic.RS1035.severity = none
