name: Markdownlint

permissions:
  contents: read

on:
  pull_request:
    paths:
      - "**/*.md"
      - ".markdownlint*.json*"
      - ".markdownlintignore"
      - ".github/workflows/markdownlint.yml"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run markdownlint-cli2
      uses: DavidAnson/markdownlint-cli2-action@v18
      with:
        globs: '**/*.md'
